* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

:root {
    --primary-color: black;
    --secondary-color: #E50914;
    --third-color: white;
    --fourth-color: #303030;
	--fifth-color:#737373;
}

body {
    background-color: var(--primary-color);
    color: var(--third-color);
    margin: 0;
}

hr {
    height: 8px;
    width: 100%;
    border: none;
    background-color: var(--fourth-color);
}

/* ------Background Image-------- */

.container {
    width: 100%;
    height: 110vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/Netflix\ Background.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    /* padding: 10px 10px; */
    /* border-bottom: 10px solid  rgba(169, 169, 169, 0.347); */

}

/* Header Part */
.navbar {
    padding-top: 1.5em;
    width: 100%;
}

.content {
    margin: 0 3rem;
    padding: 0.2rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
}

.logo {
    display: block;
    width: 12%;
    /* height: fit-content; */
    margin-right: auto;
    cursor: pointer;
}

.items {
    /* font-weight: bold; */
    text-align: center;
    /* max-width: 10%; */
    margin-right: 2rem;
    margin-left: 1rem;
    padding: 8px 6px;
    background: transparent;
    color: var(--third-color);
    border: 1px solid var(--third-color);
    border-radius: 4px;
    display: inline-block;
    position: relative;
    width: auto;
    font-size: 1rem;
}

.list {
    text-align: center;
    background-color: darkgray;
    padding: 8px 4px;
    display: inline-block;
    position: relative;
    /* width: auto; */
    min-height: 1.2rem;
}

nav a {
    text-align: center;
    /* max-width: 10%; */
    width: auto;
    border: 1px solid var(--secondary-color);
    color: var(--third-color);
    background-color: var(--secondary-color);
    text-decoration: none;
}

.link {
    border-radius: 4px;
    padding: 7px 17px;
}

/* --------------- Heading Part ----------------- */
.heading-part {
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 60px;
    position: absolute;
}

.heading-part h1 {
    font-size: 60px;
    font-weight: 600;
    line-height: 70px;
    max-width: 650px;
}

.heading-part h3 {
    margin: 20px 0;
    font-weight: 400;
    font-size: 25px;
}

.heading-part p {
    /* font-weight: 200; */
    font-size: 17px;
}

.email-signup {
    display: flex;
    border-radius: 4px;
    width: 100%;
    align-items: center;
    margin-top: 30px;
    overflow: hidden;
}

.email-signup input {
    flex: 1;
    border: 0;
    outline: none;
    /* width: 85%; */
    padding: 18px 10px;
    font-size: 20px;
    border-radius: 4px;
}

.email-signup .submit-btn {
    text-align: center;
    /* width: 45%; */
    padding: 15px 30px;
    font-weight: 400;
    font-size: 25px;
    border-radius: 4px;
    background-color: var(--secondary-color);
    color: var(--third-color);
    border: none;
}

/*--------------Netflix cards----------------*/

.cards {
    width: 100%;
    padding-top: 40px;
}

.section {
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
    padding: 50px 0px;
    flex-wrap: wrap;
    width: 75%;
}

.section-content {
    flex-basis: 50%;
    padding-right: 3rem;
    margin-bottom: 20px;
}

.section-img {
    flex-basis: 50%;
    margin-bottom: 20px;
}

.section-img img {
    width: 90%;
    display: block;
    margin: auto;
}

.cards h1 {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.cards p {
    font-size: 1.7rem;
    font-weight: 400;
}

/* ---------- Frequently Asked Questions Part ---------- */

.faq-part {
    width: 80%;
    text-align: center;
    padding: 50px 0;
    min-width: 40%;
    margin: 0 auto;
}

.faq-title h1 {
    font-size: 3.2em;
    font-weight: 500
}

.accordion {
    /* background-color: var(--fourth-color) ; */
    margin: 50px auto;
    max-width: 810px;
    width: 100%;
}

.accordion .faq-container label {
    display: flex;
    align-items: center;
    padding: 20px 30px;
    background-color: var(--fourth-color);
    cursor: pointer;
    margin-bottom: 2px;
    position: relative;
    font-size: 26px;
    font-weight: 500;
}

label::after {
    content: '+';
    font-size: 55px;
    font-weight: lighter;
    position: absolute;
    right: 40px;
    bottom: -5px;
    top: -5px;
    transition: transform .6s;
}

input[type="radio"] {
    display: none;
}

.accordion .answers {
    background-color: var(--fourth-color);
    padding: 0px 30px;
    margin-bottom: 8px;
    overflow: hidden;
    max-height: 0;
    text-align: left;
    transition: max-height .6s, padding .5s;
}

.faq-container .answers p {
    font-size: 26px;
    font-weight: 500;
    padding-bottom: 25px;
    line-height: 34px;
}

.accordion input[type="radio"]:checked+label+.answers {
    max-height: 600px;
    padding: 25px 30px;
}

.accordion input[type="radio"]:checked+label::after {
    transform: rotate(135deg);
}

.faq-part .one-line{
    font-size: 20px;
}

.faq-part .email-signup {
    max-width: 60%;
    margin: 20px auto;
}

/* -------------- Footer Part -------------- */

.footer-part{
	width: 100%;
	max-width: 95%;
	margin: 10px auto;
	padding: 50px 18% 8px;
	color: var(--fifth-color);
}

.footer-part p{
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 30px;
}
.footer-part p a{
	color: var(--fifth-color);
}
p a:hover{
	border-bottom: 2px solid var(--fifth-color);
}

.footer-part .footer-container{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.footer-part .col{
	flex-basis: 25%;
	flex-grow: 1;
	margin-bottom: 20px;
}

.footer-part .col a{
	font-size: 12px;
	font-weight: 500;
	color: var(--fifth-color);
	display: block;
	margin-bottom: 15px;
}

.footer-part .items{
	margin: 20px 0;
}
.footer-part .col p{
	font-size: 12px;
	font-weight: 500;
}