* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

:root {
    --primary-color: black;
    --secondary-color: rgba(229, 9, 20, 1);
    --third-color: white;
    --fourth-color: rgb(22, 22, 22);
    --fifth-color: #737373;
	--sixth-color: rgb(45, 45, 45);
	--seventh-color:rgba(255, 255, 255, 0.7);
}

body {
    background-color: var(--primary-color);
    color: var(--third-color);
}

hr {
    height: 8px;
    width: 100%;
    border: none;
    background-color: var(--fourth-color);
}

/* ------Background Image-------- */

.container {
    width: 100%;
    height: 95vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/Netflix\ Background.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

/* Header Part */
.navbar {
    padding-top: 1.5em;
    width: 85%;
    margin: auto;
}

.content {
    /* margin: 0 3rem; */
    padding: 0.2rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
    align-items: center;
}

.logo {
    display: block;
    width: 12%;
    height: fit-content;
    margin-right: auto;
    cursor: pointer;
}

.items {
    font-weight: bold;
    text-align: center;
    width: 15%;
    margin-right: 1.8rem;
    padding: 4px 12px;
    background-color: var(--primary-color);
    opacity: 0.7;
    color: var(--third-color);
    border: 0.8px solid var(--fifth-color);
    border-radius: 4px;
    font-size: 1rem;
}

.list {
    text-align: center;
    background-color: var(--fifth-color);
    padding: 8px 4px;
    /* display: inline-block; */
    /* position: relative; */
    /* width: auto; */
    min-height: 1.2rem;
}

.link {
    font-weight: 500;
    /* font-size: large; */
    border-radius: 4px;
    padding: 3px 16px;
}

nav a {
    text-align: center;
    /* max-width: 10%; */
    /* width: auto; */
    border: 1px solid var(--secondary-color);
    color: var(--third-color);
    background-color: var(--secondary-color);
    text-decoration: none;
}


/* --------------- Heading Part ----------------- */
.heading-part {
    /* display: inline-block; */
    width: 100%;
    /* min-width: 60%; */
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* margin: auto ;  */
    position: absolute;
    padding: 7.5rem 0 2rem;
}

.heading-part h1 {
    font-size: 50px;
    font-weight: 900;
    line-height: 70px;
    min-width: 60%;
}

.heading-part h3 {
    margin: 20px 0;
    font-weight: 400;
    font-size: 25px;
}

.heading-part p {
    /* font-weight: 200; */
    font-size: 20px;
}

.email-signup {
    display: flex;
    gap: 10px;
    margin: 20px auto 0;
    width: 38%;
    align-items: center;
    overflow: hidden;
}

.email-signup input {
    /* flex: 1; */
    border: 0.5px solid var(--fifth-color);
    /* outline:0; */
    min-width: 60%;
    background-color: rgba(22, 22, 22, 0.8);
    color: var(--third-color);
    padding: 14px 16px;
    font-size: 17px;
    border-radius: 4px;
}

.email-signup .submit-btn {
    text-align: center;
    min-width: 25%;
    padding: 10px 30px;
    font-weight: 600;
    font-size: 25px;
    border-radius: 4px;
    background-color: var(--secondary-color);
    color: var(--third-color);
    border: none;
}

/*--------------Netflix cards----------------*/

.cards {
    width: 100%;
    padding-top: 40px;
}

.section {
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
    padding: 50px 0px;
    flex-wrap: wrap;
    width: 80%;
}

.section-content {
    flex-basis: 50%;
    margin-bottom: 20px;
}

.section-img {
    flex-basis: 50%;
    margin-bottom: 20px;
}

.section-img img {
    width: 90%;
    display: block;
    margin: auto;
}

.cards h1 {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
}

.cards p {
    font-size: 1.5rem;
    font-weight: 500;
}

/* ---------- Frequently Asked Questions Part ---------- */

.faq-part {
    width: 80%;
    text-align: center;
    padding: 50px 0;
    margin: 0 auto;
}

.faq-title h1 {
    font-size: 3.2em;
    font-weight: 900;
}

.accordion {
    margin: 50px auto;
    width: 100%;
}

.accordion .faq-container label {
    display: flex;
    align-items: center;
    padding: 25px 30px;
    background-color: var(--sixth-color);
    cursor: pointer;
    margin-bottom: 2px;
    position: relative;
    font-size: 26px;
    font-weight: 500;
}

label::after {
    content: '+';
    font-size: 55px;
    font-weight: lighter;
    position: absolute;
    right: 40px;
    bottom: -4px;
    top: -4px;
    transition: transform .6s;
}

input[type="radio"] {
    display: none;
}

.accordion .answers {
    background-color:var(--sixth-color);
    padding: 0px 30px;
    margin-bottom: 8px;
    overflow: hidden;
    max-height: 0;
    text-align: left;
    transition: max-height .6s, padding .5s;
}

.faq-container .answers p {
    font-size: 26px;
    font-weight: 500;
    padding-bottom: 25px;
    line-height: 34px;
}

.accordion input[type="radio"]:checked+label+.answers {
    max-height: 600px;
    padding: 25px 30px;
}

.accordion input[type="radio"]:checked+label::after {
    transform: rotate(135deg);
}

.faq-part .one-line {
    font-size: 22px;
	text-align: center;
}

.faq-part .email-signup {
	text-align: center;
    width: 55%;
    margin: 20px auto;
}

/* -------------- Footer Part -------------- */

.footer-part {
    width: 80%;
    margin: auto;
	padding: 3.75rem 0;
    color: var(--seventh-color);
}

.footer-part h4 {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 30px;
}

.footer-part h4 a {
    color: var(--seventh-color);
}

.footer-part .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.footer-part .col {
    flex-basis: 25%;
    flex-grow: 1;
    margin-bottom: 20px;
}

.footer-part .col a {
    font-size: 14px;
    font-weight: 300;
    color:var(--seventh-color);
    display: block;
    margin-bottom: 14px;
}

.footer-part .items {
    margin: 10px 0 20px;
	display: block;
}

/* --------Media Queries for Small Screen--------- */
@media only screen and (max-width: 600px) {
/* ---Image Part----- */
	.container{
		height: 85vh ;
	}
	
/* ---Navbar Part----- */
	.logo {
		width: 32%;
	}

	.navbar .items{
		width: 100px;
		margin-right: 8px;
		padding: 2px 4px;
	}

	.navbar .link{
		padding: 3px 10px;
	}

/* ---Main Heading-Part----- */
    .heading-part {
		width: 85%;
    }

    .heading-part h1 {
        font-size: 35px;
		font-weight: 700;
        line-height: 40px;
    }

    .heading-part h3 {
        font-size: 20px;
    }

	.heading-part p{
		font-size: 20px;
	}

/* ---Login Form-Part----- */
	.email-signup{
		display: block;
		width: 100%;
	}

	.email-signup input{
		width: 100%;
		margin-bottom: 20px;
	}

	.email-signup .submit-btn{
		font-size: 20px;
	}
/* ---Cards-Part----- */
    .cards{
		padding: 0;
	}

	.section{
		display: block;
		width: 90%;
		text-align: center;
	}

	.section-content h1{
		font-size: 32px;
		font-weight: 700;
	}
	.section-content p{
		font-size: 18px;
	}

	/* -----FAQ PART----- */
	.faq-title{
		font-size: 10px;
	}




}